@font-face {
    font-family: 'FontAwesome';
    src: url(/fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(/fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(/fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(/fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');
    font-weight: normal;
    font-style: normal
}

html {
    overflow-x: hidden
}
:root{
    --color-red:#f874ee;
}
body {
    font-family: "Helvetica";
    overflow-x: hidden;
    margin: 0;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto
}

input {
    outline: none
}

h1,
h2,
h3 {
    margin-bottom: 5px
}

h2+p,
h2+span,
h3+p,
ul+p,
p+h3,
h2+h3,
h3+h2,
ol+p,
p+ol {
    margin: 0
}

p+p {
    margin: 10px 0
}

p+h2 {
    margin-top: 10px
}

ul,
ol {
    margin-top: 0
}

.container{
    /* margin: 0 0 0 20px; */
    max-width: 1200px !important;
    width: 100%;
    margin: 0 auto 20px auto;
}

-full-width {
    width: auto
}

 p {
    margin: 0
}

 .headline {
    font-size: 130%;
    text-align: center
}

 select {
    font-size: 15px
}

hr{
    color: rgb(var(--bs-primary-rgb));
}

.group__input{
    display: flex;
}
 .calc-result {
    display: none;
    margin-top: 10px;
    font-size: 26px;
    word-wrap: break-word;
    position: relative
}

 .calc-solve {
    display: none;
    margin-top: 10px;
    font-size: 20px;
    word-wrap: break-word;
    text-align: left
}

.calc-statistics {
    color: #666;
    font-size: 15px;
    position: absolute;
    right: 5px;
    top: calc(100% + 3px);
    display: none
}

.error-text {
    color: red
}

ol {
    margin-top: 0;
    padding-left: 20px
}

ul {
    margin-top: 0;
    padding-left: 20px
}

li,
br {
    line-height: 1.5
}

select {
    border: 1px solid #aaa;
    cursor: pointer;
    border-radius: 10px;
    padding: 4px 2px;
    outline: none;
    display: inline-block;
    background: #fff;
    max-width: 100%
}

select:active,
select:hover {
    border-color: #43aaee
}

span[contenteditable="true"] {
    display: inline-flex;
    word-break: break-all;
    font-size: 26px;
    text-align: left
}

span[contenteditable="true"]:empty:before {
    content: attr(data-placeholder);
    color: #aaa
}

span[contenteditable="true"]:focus:empty:before {
    content: "";
    display: block;
    color: #888
}

span[contenteditable="true"] br {
    display: none
}

.edit-text-bottom-border {
    flex: 1 0 70%;
    border: none;
    border-bottom: 1px solid #000;
    min-width: 25px;
    max-width: 100%;
    font-size: 26px;
    text-align: left;
}

.edit-text-bottom-border:hover {
    border-color: #43aaee
}

.edit-text-bottom-border:focus {
    outline: none;
    border-bottom: 2px solid #43aaee;
    background: #abdfff;
    margin-bottom: -1px
}

/* .edit-text-bottom-border-full-width {
    width: 100%
} */

.edit-text-border {
    font-size: 26px;
    text-align: left;
    border: 1px solid #aaa
}

.edit-text-border:focus {
    outline: none;
    border-bottom: 2px solid #43aaee;
    background: #abdfff;
    margin-bottom: -1px
}

.switch-checkbox {
    position: relative;
    cursor: pointer;
    padding-left: 2px
}

.switch-checkbox input {
    opacity: 0;
    position: absolute
}

.switch-checkbox-text {
    margin-left: 1.35em;
    white-space: nowrap
}

.switch-checkbox-text:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: .3em;
    width: 1.3em;
    height: .8em;
    margin-bottom: -.1em;
    background: #ccc;
    border-radius: .45em;
    transition: .3s
}

.switch-checkbox-text:after {
    content: "";
    position: absolute;
    left: .1em;
    bottom: .3em;
    width: .6em;
    height: .6em;
    border-radius: 100%;
    background: #fff;
    transition: .3s
}

.switch-checkbox input:checked+.switch-checkbox-text:before {
    background: var(--bs-pink)
}

.switch-checkbox input:checked+.switch-checkbox-text:after {
    left: .6em
}

input[type="submit"].calculate-btn {
    padding: 7px 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background: #2188cc;
    color: #fff;
    font-size: 15px;
    cursor: pointer
}

input[type="submit"].calculate-btn:hover {
    background: #3299dd;
    border-color: #fff
}

input[type="submit"].calculate-btn:active {
    background: #43aaee;
    border-color: #fff
}

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all .25s ease-in-out;
    background: rgba(0, 0, 0, .8);
    visibility: hidden;
    opacity: 0;
    overflow-y: auto
}

.modal-wrapper .modal {
    width: 750px;
    height: 760px;
    margin: -380px 0 0 -375px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #1077bb;
    color: #fff;
    transition: all .3s ease-in-out;
    opacity: 1
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible
}

.modal-wrapper .modal-head {
    padding: 10px 10px 15px 15px;
    background: #1a424f;
    text-align: right
}

.modal-wrapper .modal-head span {
    cursor: pointer;
    font-size: 20px
}

.modal-wrapper .modal-content {
    padding: 10px;
    text-align: justify
}

.modal-wrapper .modal-content h2,
.modal-wrapper .modal-content h3 {
    margin-top: 0
}

.modal-wrapper .modal-content img {
    max-width: 100%;
    padding-top: 5px
}

.modal-wrapper .modal-content a {
    color: #fff;
    border-bottom: 1px dotted #fff;
    text-decoration: none
}

.modal-wrapper .modal-content a:hover {
    border-bottom: none
}

.modal-wrapper .modal-content ul {
    padding-left: 20px
}

.modal-wrapper .modal-content li {
    line-height: 1.2
}

.modal-wrapper .modal-content .border-button-block {
    display: inline-block;
}

.modal-wrapper .modal-content .border-button-link {
    border-bottom: none !important
}

.modal-wrapper .modal-content .border-button {
    padding: 5px 10px;
    border: 2px solid;
    margin-bottom: 10px;
    text-align: center;
    background: #3299dd
}

.modal-wrapper .modal-content .border-button:hover {
    background: #4bf
}


.keyboard {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

code {
    text-align: left;
    line-height: 1.6;
    padding: .1em .25em;
    margin: 1px;
    font-size: 95%;
    background-color: rgba(171, 217, 255, .51);
    color: #24292e;
    border-radius: 3px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
}

pre+p {
    margin-bottom: 0
}

pre.code-lang {
    display: block;
    overflow-x: auto;
    line-height: 1.3;
    white-space: pre;
    font-family: monospace;
    margin: 3px 0;
    text-align: left;
    padding: 3px;
    counter-reset: line;
    border-radius: 5px
}

span.line-numbers {
    counter-increment: line
}

span.line-numbers:before {
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding-right: 5px;
    margin-right: .5em;
    color: #888;
    text-align: right
}

pre.one-digit-line-numbers span.line-numbers:before {
    width: 8px
}

pre.two-digit-line-numbers span.line-numbers:before {
    width: 16px
}

pre.three-digit-line-numbers span.line-numbers:before {
    width: 24px
}

pre.win-console {
    background: #000;
    color: #fff;
    padding: 5px
}

pre.inline {
    display: inline-block;
    margin-bottom: -4px;
    margin-top: 0
}

pre.linux-console {
    background: #39152e;
    color: #fff;
    padding: 10px 5px;
    line-height: 16px
}

.linux-console-path {
    color: #8ae234
}

pre.no-select {
    user-select: none
}

.sublime-theme {
    color: #fff;
    background: #272822
}

.sublime-theme .macro {
    color: #f92672
}

.sublime-theme .const {
    color: #9981ff
}

.sublime-theme .chars {
    color: #e6db5a
}

.sublime-theme .data-types {
    color: #66d9ef
}

.sublime-theme .operators {
    color: #f92672
}

.sublime-theme .comment {
    color: #7a7a77
}

.sublime-theme .functions {
    color: #96d92a
}

.sublime-theme .strings {
    color: #e6db5a
}

.sublime-theme .formats {
    color: #9981ff
}

.sublime-theme .this {
    color: #f9931f
}

.sublime-theme .line-numbers {
    color: #7a7a77
}

.sublime-theme .overload-operators {
    color: #96d92a
}

.vs-theme {
    color: #000;
    background: #fff;
    font-family: "Consolas";
    border: 1px solid rgba(171, 217, 255, 1)
}

.vs-theme .macro {
    color: gray
}

.vs-theme .const {
    color: #000
}

.vs-theme .chars {
    color: #a31515
}

.vs-theme .data-types {
    color: #00f
}

.vs-theme .operators {
    color: #00f
}

.vs-theme .comment {
    color: green
}

.vs-theme .functions {
    color: #000
}

.vs-theme .strings {
    color: #a31515
}

.vs-theme .formats {
    color: #000
}

.vs-theme .this {
    color: #00f
}

.vs-theme .line-numbers {
    color: #2b91af
}

.vs-theme .overload-operators {
    color: #00f
}

.light-theme {
    color: #000;
    background: #f5f2f0;
    border: 1px solid #aaa
}

.light-theme .macro {
    color: #07a
}

.light-theme .const {
    color: #905
}

.light-theme .chars {
    color: #e6db5a
}

.light-theme .data-types {
    color: #07a
}

.light-theme .operators {
    color: #07a
}

.light-theme .comment {
    color: #607d8b
}

.light-theme .functions {
    color: #dd4a68
}

.light-theme .strings {
    color: #690
}

.light-theme .formats {
    color: #9981ff
}

.light-theme .this {
    color: #f9931f
}

.light-theme .line-numbers {
    color: #7a7a77
}

.light-theme .overload-operators {
    color: #07a
}

.table {
    border: 1px solid #000;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed
}

.table td {
    min-width: 20px;
    width: 28px;
    border: 1px solid #000;
    padding: 0 5px;
    vertical-align: middle
}

.table tr {
    cursor: pointer
}

.table tr:first-child td {
    padding-top: 5px
}

.table tr:hover {
    background: rgba(51, 170, 240, .5)
}

.table td.green {
    background: rgba(0, 128, 0, .5)
}

.table td.red {
    background: rgba(255, 0, 0, .5)
}

.table td.gray {
    background: rgba(128, 128, 128, .5)
}

.table td.light-gray {
    background: rgba(128, 128, 128, .2)
}

 /* .calc-btn {
    margin: 0
} */

.calc-result {
    text-align: left
}

.fullboard{
    margin: 0 0 0 2%;
    position: relative;
    flex: 0 1 50%;
    min-width: 200px;
}

.keyboard-key{
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: inline; */
    position: absolute;
    transform: rotatez(45deg) translateY(-100%);
    
    right: 0;
    top: 0px;
    width: 22px;
    height: 22px;
    transition: all 0.3s;

}
.keyboard-key.open{
    transform: rotatez(0deg) translateY(-100%);
}

 .controls {
    /* display: table; */
    width: 100%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.keyboard #keys {
    margin-top: 5px
}

 .keyboard .open-keyboard-key {
    font-size: 18px;
    padding: 5px 0
}

 .keyboard #keyboard-key {
    cursor: pointer;
    color: #0054b9
}

 .keyboard #keyboard-key:hover {
    border-bottom: none
}

 .keyboard .open-settings-key {
    font-size: 18px;
    padding: 10px 0 5px 0
}

 .keyboard #settings-key {
    cursor: pointer;
    border-bottom: 1px dotted;
    color: #0054b9
}

 .keyboard #settings-key:hover {
    border-bottom: none
}

 .keyboard #settings {
    font-size: 115%
}

 .keyboard #keyboard-key .fa {
    font-size: 22px
}

 .checkboxes {
    font-size: 125%;
    text-align: left;
    /* padding-left: 10px; */
    /* width: 45% */

}

 .checkboxes .checkboxes-container div {
    padding: 4px
}

.cap {
    padding: 0 22px
}
.keys_btn{
    position: relative;
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;

}

.key.btn{
    margin: 0.1%;
    flex: 0 0 24.5%;
} 
.navbar-brand{
    color: white;
}

.navbar-brand.active{
    border-radius: var(--bs-border-radius);
    padding: 0 8px;
    /* background-color: #3ac4ed; */
    background-color: var(--bs-pink)

}


.xor {
    font-size: 70%;
    vertical-align: middle
}

.not {
    border-top: 1px solid #000;
    padding: 2px 1px 0 1px;
    display: inline-block;
    margin: 0 2px
}

.not .not {
    margin: 0 1px;
    padding: 2px 0 0 0
}

.not:first-letter {
    letter-spacing: -12px;
    opacity: 0;
    color: rgba(0, 0, 0, 0)
}

 .calc-result .scroll-block .table {
    max-width: unset;
    overflow-x: unset
}

.youtube-frame {
    display: block;
    margin: 0 auto
}

h3 {
    margin-top: 0;
    margin-bottom: 10px
}

p+h3 {
    margin-top: 5px
}

h3+h4 {
    margin-top: 0
}

h4 {
    margin-bottom: 0
}

h4+p {
    margin-top: 0
}

p+h4 {
    margin-top: 10px
}

ul {
    margin-bottom: 0
}


@media (max-width:500px) {
    .keyboard {
        flex-wrap: wrap;
        justify-content: center
    }
    .fullboard{
        flex: 1 1 100%;
    }

}
